#subheading {
    width: 100%;
    height: 700px;
    /* background-image: url("https://images.indianexpress.com/2020/05/Minecraft-1200-1.jpg"); */
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
}

#textAlign {
    text-align: center;
    line-height: 700px;
}

.dropdown-toggle-budget::after {
    content: none;
}

.row {
    justify-content: center;
}

sup {
    font-size: 0.5em;
}

.red {
    background-color: #D83030;
    font-weight: bolder;
}

.btn {
    outline-color: #D83030;
}

.fas {
    color: #B9B9B9;
}

hr {
    border-color: white;
    width: 10%;
}

.jumbotron {
    background-color: #252628;
    margin-bottom: 0%;
}

.light-text {
    color: #B2BBB2;
}

.footer-dark {
    background-color: #191A1C;
    color: white;
}

.vcenter {
    display: flex;
    align-items: center;
}

.dropdown:hover .dropdown-content {
    display: block;
    padding: 15px 15px;
    margin: 8px 8px;
}

.navbar-color{
    background-color: red;
}

.navbar-text{
    font-weight: 650;
    font-size: large;
    color: white;
    text-transform: uppercase;
}

.dropdown-item{
    font-weight: 500;
    color:grey;
}